@import "../../styles/variables";

.date-domain-container {
  margin: 0 1rem 1rem 0;
  text-align: right;
}

.date-domain-option {
  display: inline-block;

  .ant-btn-sm {
    font-size: $font-size-sm;
  }

  &.active {
    background-color: rgb(153 184 239 / 20%);
  }
}
