@import "../../styles/variables";

.disclaimer {
  background-color: #fff;
  border-radius: 1rem;

  h3 {
    margin-bottom: 1rem;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    text-align: center;
  }

  p {
    margin-bottom: 1.5rem;
    line-height:1.5;
  }
}
