@import "../../styles/variables";
@import "common.module.scss";

.container {
  margin-top: 1rem;
  line-height: 1.5;
  border: 1px solid #DCDBDB;
  border-radius: 0.5rem;
}

.content {
  padding: 1rem 1rem 0.5rem;
}
