@import "../../styles/variables";

.group {
  margin-top: 1rem;
}

.question {
  text-align: right;

  p {
    margin-top: 0;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    display: inline-block;
    word-break: break-word;
    background-color: $primary-blue;
    color: #fff;
    border-radius: 1rem;
  }
}
